@font-face {
  font-family: 'SkycoinSansBold';
  src: url('./resources/fonts/skycoin-bold-webfont.woff2') format('woff2'),
         url('./resources/fonts/skycoin-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSans';
  src: url('./resources/fonts/skycoin-regular-webfont.woff2') format('woff2'),
         url('./resources/fonts/skycoin-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSansBoldItalic';
  src: url('./resources/fonts/skycoin-bold-italic-webfont.woff2') format('woff2'),
         url('./resources/fonts/skycoin-bold-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkycoinSansItalic';
  src: url('./resources/fonts/skycoin-regular-italic-webfont.woff2') format('woff2'),
         url('./resources/fonts/skycoin-regular-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'InconsolataBold';
  src: url('./resources/fonts/inconsolata-bold-webfont.woff2') format('woff2'),
         url('./resources/fonts/inconsolata-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./resources/fonts/inconsolata-regular-webfont.woff2') format('woff2'),
         url('./resources/fonts/inconsolata-regular-webfont.woff') format('woff');
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
strong {
  font-weight: normal;
}

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 1rem;
}

dd, ol, ul {
  margin-left: 1rem;
}
